<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration" requirePermission="false" />
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=4.4.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="BingAppID" value="" />
    <add key="fbAppID" value="" />
    <add key="BingKey" value="" />
    <add key="ReCaptchaPrivateKey" value="" />
    <add key="ReCaptchaPublicKey" value="" />
    <add key="PasswordLength" value="5" />
    <add key="UserNameLength" value="5" />
    <add key="GAAccount" value="" />
    <add key="GoogleKey" value="" />
    <add key="AllowUploads" value="gif,jpg,jpeg,bmp,mpg,mepg,ogg,webm,mp3,mp4,swf,zip,txt,xml,xslt,doc,xls,ppt,pptx,xlsx,docx,mpg4,xps" />
    <add key="WordFilter" value="" />
    <add key="AllowNewUser" value="True" />
    <add key="Administrator" value="administrator" />
    <add key="Password" value="888888" />
    <add key="AppKey" value="" />
    <add key="Initialized" value="False" />
    <add key="DefaultLocale" value="en-US" />
    <add key="EnableSitemenu" value="True" />
    <add key="ReservedUserNames" value="" />
    <add key="ForceEmailValidation" value="True" />
    <add key="DefaultNetDriveQuota" value="50000" />
    <add key="AutoStartScheduler" value="True" />
    <add key="SchedulerFrequency" value="30" />
    <add key="WWWResolved" value="True" />
    <add key="EmailSender" value="DotNetAge" />
    <add key="AutoMigration" value="True"/>
  </appSettings>
  <unity configSource="unity.config" />
  <system.net>
    <mailSettings>
      <smtp from="" deliveryMethod="Network">
        <network port="25" enableSsl="false" defaultCredentials="false" host="" />
      </smtp>
    </mailSettings>
  </system.net>
  <system.web>
    <trust level="Full" />
    <compilation targetFramework="4.0" debug="true">
      <assemblies>
        <add assembly="System.Web.Helpers" />
        <add assembly="Microsoft.Web.Helpers" />
        <add assembly="DNA.Web" />
        <add assembly="DNA.Web.ServiceModel" />
        <add assembly="DNA.Web.DataModel" />
        <add assembly="DNA.Web.Infrastructure" />
      </assemblies>
    </compilation>
    <authentication mode="Forms">
      <forms loginUrl="~/login" timeout="50000000" />
    </authentication>
    <anonymousIdentification enabled="true" />
    <customErrors mode="Off" />
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Optimization" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
        <add namespace="Microsoft.Web.Helpers" />
        <add namespace="System.Linq" />
        <add namespace="System.Collections.Generic" />
      </namespaces>
    </pages>
    <httpRuntime requestValidationMode="2.0" />
    <httpModules>
      <add name="UnityPerWebRequestLifetimeModule" type="DNA.Web.UnityPerWebRequestLifetimeModule, DNA.Web.Infrastructure" />
    </httpModules>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true">
      <remove name="WebDAVModule" />
      <remove name="UnityPerWebRequestLifetimeModule" />
      <add name="UnityPerWebRequestLifetimeModule" type="DNA.Web.UnityPerWebRequestLifetimeModule, DNA.Web.Infrastructure" />
    </modules>
    <!--<httpErrors errorMode="Custom">
      <remove statusCode="404" />
      <remove statusCode="500" />
      <error responseMode="Redirect" statusCode="404" path="/404.html" />
      <error responseMode="Redirect" statusCode="500" path="/500.html" />
    </httpErrors>-->
    <staticContent>
      <remove fileExtension=".webm" />
      <remove fileExtension=".ogg" />
      <remove fileExtension=".woff" />
      <mimeMap fileExtension=".webm" mimeType="video/webm" />
      <mimeMap fileExtension=".ogg" mimeType="video/ogg" />
      <mimeMap fileExtension=".woff" mimeType="application/x-woff" />
    </staticContent>
    <handlers>
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" />
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SqlServerCe.4.0" />
      <remove invariant="MySql.Data.MySqlClient" />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.5.4.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
      <add name="Microsoft SQL Server Compact Data Provider 4.0" invariant="System.Data.SqlServerCe.4.0" description=".NET Framework Data Provider for Microsoft SQL Server Compact" type="System.Data.SqlServerCe.SqlCeProviderFactory, System.Data.SqlServerCe, Version=4.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
    </DbProviderFactories>
  </system.data>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
  </entityFramework>
  <connectionStrings>
    <add name="DNADB" connectionString="Data Source=|DataDirectory|dnadb.sdf" providerName="System.Data.SqlServerCe.4.0" />
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="content/modules/bin" />
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages.Razor" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebMatrix.Data" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebMatrix.WebData" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.15.0" newVersion="2.2.15.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>