.d-ui-widget.d-state-hover, .d-ui-widget-header.d-state-hover, .d-item.d-state-hover, .d-node-content > .d-state-hover, .ui-state-hover { background-color: #864682; background-image: none; }
.d-ui-widget.d-state-hover, .d-ui-widget-header.d-state-hover, .d-item.d-state-hover, .d-node-content > .d-state-hover, .d-rating .d-state-hover, .ui-state-hover { border-color: #ca68c4; color: #fff; }
    .d-item.d-state-hover .d-link { color: #fff; }
