.d-page,body { background-color: #008CD7; padding: 0px; }
body, .d-link { color: #fff; }

.d-sitetools .d-menu .d-items-wrapper { background-color: #008CD7; }
.d-sitetools { border-color: transparent; border-bottom-width: 0em; background-color: transparent; opacity: 1; }

.d-page > .d-page-part:after { background: #008CD7; bottom: -20px; content: "\e124"; display: block; font-family: taoui; font-size: 2em; color: #fff; height: 60px; left: 50%; line-height: 2em; margin-left: -48px; padding: 0.1em 1em; position: absolute; border-radius: 50% 50% 0 0; text-align: center; }
.d-page > .d-page-part:last-of-type:after { display: none; }
.d-page > .d-page-part:last-child { min-height: 100%; }

.d-page > [class^="d-page"]:nth-of-type(2n+1):after, .d-page > .d-page-part:nth-of-type(2n+1):after { background: #006BA4; }
.d-page > .d-page-part .d-widget-zone:first-child,
.d-page > .d-page-header .d-widget-zone:first-child { padding-top:10%;}



/*Reset page content*/
.d-page-content { min-height: 0px; }
.d-page-footer, .d-page-footer .d-content, .d-page-footer .d-link, .d-page-footer a.d-button.link { color: #c4c4c4; }
.d-page-part, .d-page-part .d-content, .d-page-part .d-link, .d-ui-widget-header .d-link { color: #ffffff; }

    .d-page-part .d-widget,.d-page-part .d-widget-header { background:none;border:none;}

.d-footer-tools { color: #50a7dc; }
footer { padding: 100px; }

.d-scroller-nav { position: fixed; right: 20px; top: 30%; }
    .d-scroller-nav li { opacity: .5; list-style: none; height: 10px; width: 10px; border-radius: 50%; background: #008CD7; border: 5px solid #fff; padding: 1px; margin: 10px 0px; }
        .d-scroller-nav li:hover { opacity: 1; }
        .d-scroller-nav li.d-state-active { opacity: 1; }

.d-scroller { display: none; }

.d-view-item .published,.d-note-field { color:#fcfcfc;}
 
@media screen and (max-width: 400px) {
    .d-scroller-nav { display: none; }
    .d-page > .d-page-part:after, .d-page > [class^="d-page"]:after { display: none; }
}
