.d-page-header { border-color: #000000; background-color: #A3C201; }
.d-page-nav { border-color: #000000; background-color: #ffffff; -moz-box-shadow: 0px -15px 10px #a2be0e; -webkit-box-shadow: 0px -15px 10px #a2be0e; box-shadow: 0px -15px 10px #a2be0e; }
    .d-page-nav, .d-page-nav .d-content, .d-page-nav .d-link { color: #859d06; }
        .d-page-nav .d-widget-header { background-color: transparent; }
.d-page-content { background-color: transparent; border-top: 1px solid #ccc; }
    /*.d-page-content .d-widget { background-color: #ececec; }*/
    /*.d-page-content .d-widget-header { background-color: transparent; }*/
.d-page-footer { border-color: #000000; background-color: #424242; }

.d-sitetools .d-menu .d-items-wrapper { background-color: #2890dc; }
.d-sitetools { border-color: #ffffff; border-bottom-width: 0em; background-color: #A3C201; opacity: 1; }

.d-page-footer, .d-page-footer .d-content, .d-page-footer .d-link { color: #c4c4c4; }
.d-page-header, .d-page-header .d-content, .d-page-header .d-link, .d-ui-widget-header .d-link { color: #ffffff; }
.d-page-content, .d-page-content .d-content, .d-page-content .d-link { color: #616161; }

.d-footer-tools { color: #859d06; }
.d-scroller { color: #859d06; }
