@model ContentFormDecorator
<form id="editorcode_form" 
    data-ajax="true"
    data-ajax-url="@Url.Content(string.Format("~/{0}/{1}/form/code?name={2}&type={3}", AppModel.Get().CurrentWeb.Name, Culture, Model.Parent.Name, Model.FormTypeString))"
    data-ajax-method="post"
    data-ajax-begin="$.loading()"
    data-ajax-complete="$.loading('hide')"
    data-ajax-success="$(this).find('button[data-default=true]').isDisable(true);$(this).find('a[data-rel=close]').click();"
    onchange="$(this).find('button[data-default=true]').isDisable(false)"
    style="width:100%;">
    <textarea style="height: 300px; font-size: 9pt;" id="code_editor" name="code" spellcheck="false">@ViewBag.Code</textarea>
    <div data-buttons-holder="true" style="padding: 0px 10px;">
        <button data-default="true" data-inline="false" class="d-state-disable">@Resources.Commons.Save</button>
        <a href="javascript:void(0);" data-role="button" data-rel="close" data-inline="false">@Resources.Commons.Cancel</a>
    </div>
</form>
<script type="text/javascript">
    $(function () {
        var form = $('#editorcode_form'),
            w = $(window).width(),
            h = $(window).height() - 50;
        form.height(h);
        window.setTimeout(function () {
            var btnsH = $("[data-buttons-holder=true]", form).outerHeight(true) + 50;
            $("#code_editor").width(w).height(h - btnsH);
        }, 100);

    });
</script>
