@{
    ViewBag.Title = Resources.Errors.PageNotFound;
}
<div class="d-error-content">
    <div class="d-error-code">
        404
    </div>
    <h1>@ViewBag.Title</h1>
    <p>@Resources.Errors.PageNotFoundMsg</p>
    <p>
        <a href="~/" data-role="button">@Resources.Commons.BackToHome</a>
    </p>
</div>
