/****************************************************Ratings****************************************************/
.d-rating { display: inline-block; padding: 0px; margin: 0px; }
    .d-rating > li { -moz-box-shadow: none; -webkit-box-shadow: none; -o-box-shadow: none; box-shadow: none; border: none; display: inline-block; min-height: 14px; min-width: 14px; vertical-align: middle; padding: 0px; }
