/*#name#*/.d-menu { box-shadow: 1px 1px 2px #888 inset; -moz-box-shadow: 1px 1px 2px #888 inset; -webkit-box-shadow: 1px 1px 2px #888 inset; padding: 2px; }
/*#name#*/.d-menu > .d-item > a { line-height: 50px; }
