.d-page { width: 980px; margin: auto; }
    .d-page > * { width: 100%; }

@media screen and (max-width: 768px) {
    .d-page ,.d-page-content { width: 100%; }
    .d-page-header > *, .d-page-nav > *, .d-page-footer > * { width: auto; margin: auto; }
}
