.d-mainmenu.d-menu > .d-item > a { line-height: 40px; }
.d-mainmenu.d-menu .d-separator { border-color: #383838; }
.d-mainmenu.d-menu .d-item { color: #e9e8e7; }
.d-mainmenu { margin-right: 0px; }
