.d-ui-widget-header, .ui-widget-header, .d-rte-panes > .d-menu.toolbar, .d-button { border-color: #a5e3f3; background-color: #3b99de; background-image: none; }
    .d-ui-widget-header, .d-ui-widget-header > a, .ui-widget-header, .ui-widget-header > a, .d-rte-panes > .d-menu.toolbar, .d-button, a.d-button { color: #fafafa; }
        .d-ui-widget-content, .ui-widget-content, .d-ui-widget-header.d-tabs-nav.d-state-active > a, .d-checkbox, .d-radio, .d-rating, a.d-button.link, .ui-state-default, .ui-state-default > a { color: #0a0a0a; }

