.d-w-intro { display: block; text-decoration: none; zoom: 1;  position: relative; }
    .d-w-intro > article { max-width: 45%; position: absolute; right: 10px; top: 20px; }
        /*.d-w-intro > article > span { text-decoration: underline; }*/
        .d-w-intro > article > p { margin-top: 0px; }
.d-w-intro-right { text-align: right; }
    .d-w-intro-right > article { left: 10px; right: auto; text-align: left; }

.d-w-intro-top, .d-w-intro-bottom { text-align: center; }
    .d-w-intro-top > article, .d-w-intro-bottom > article { position: static; text-align: center; max-width: none; }

@media screen and (max-width: 600px) {
    .d-w-intro { text-align: center; overflow: visible; }
    .d-w-intro> article { position: static; width:100%;text-align:center;}
    /*.d-w-intro > article > p { text-align: left; }*/
    .d-w-intro > article, .d-w-intro > img { max-width: 100%; float: none; }
}
