<?xml version="1.0" encoding="utf-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" id="archives">
  <name short="Archives">Archives</name>
  <name short="Archives" xml:lang="zh-cn">档案</name>
  <description xml:lang="zh-cn"></description>
  <icon src="default.png" />
  <preference name="listName" value="''" />
  <content type="application/x-ms-aspnet" src="index.cshtml" />
</widget>