body, .d-ui-widget, .d-ui-widget-header, .d-ui-widget-content,
.d-content-text, .ui-widget, .ui-widget-content, .d-input > input, .d-picker > input, .d-button,
.d-pager, .d-checkbox, .d-radio, .d-rte textarea { font-weight: lighter; font-size: 100%; font-family: 'Segoe UI Light',Segoe UI,Tahoma Light,Arial Light,Helvetica,sans-serif; line-height: 1.5; }

.zh-cn body, .zh-cn .d-ui-widget, .zh-cn .d-ui-widget-header, .zh-cn .d-ui-widget-content,
.zh-cn .d-content-text, .zh-cn .ui-widget, .zh-cn .ui-widget-content, .zh-cn .d-input > input, .zh-cn .d-picker > input, .zh-cn .d-button,
.zh-cn .d-pager, .zh-cn .d-checkbox, .zh-cn .d-radio, .zh-cn .d-rte textarea { font-weight: normal; font-size: 100%; font-family: "Microsoft yahei","微软雅黑","Tahoma","Verdana","Arial","sans-serif"; line-height: 1.5; }

h1, h2, h3, h4, h5, h6 { font-weight: lighter; }

.d-ui-widget, .ui-widget, .d-node-content > * { color: #ffffff; }
.d-ui-widget, .ui-widget { -moz-border-radius: 0px; -webkit-border-radius: 0px; border-radius: 0px; background-color: #ff6929; background-image: none; }
.d-ui-widget, .ui-widget, .d-separator, .d-tooltip:before, .d-tooltip:after, .d-grid th, .d-grid td, .d-item-spliter { border-color: #eb4249; }
.d-ui-widget-header, .d-ui-widget-header > a, .d-rte-panes > .d-menu.toolbar, .d-button { color: #ffffff; }

    .d-ui-widget-content, .ui-widget-content, .d-ui-widget-header.d-tabs-nav.d-state-active > a, .d-checkbox, .d-radio, .d-rating, a.d-button.link { color: #000000; }
.d-ui-widget.d-tooltip, .d-state-info, .d-item-counter { border-color: #d94317; background-color: #f3d8d3; color: #5d2e0e; }
.d-overlay { background-color: #fbebe4; background-image: none; }
.d-ui-widget-content, .ui-widget-content, .d-tabs-nav.d-state-active { background-color: #ffffff; background-image: none; }
.d-radio, .d-checkbox, .d-rating, a.d-button.link, .ui-state-default > a, .ui-state-default { color: #81240e; }

.d-ui-widget.d-state-hover, .d-ui-widget-header.d-state-hover, .d-item.d-state-hover, .d-node-content > .d-state-hover { background-color: #f9e6e1; background-image: none; }
    .d-ui-widget.d-state-hover, .d-ui-widget-header.d-state-hover, .d-ui-widget-header.d-state-hover > a, .d-item.d-state-hover, .d-node-content > .d-state-hover { color: #7c3c18; }
.d-ui-widget.d-state-hover, .d-ui-widget-header.d-state-hover, .d-item.d-state-hover, .d-node-content > .d-state-hover, .ui-state-hover { background-color: #f9e6e1; background-image: none; }

.d-ui-widget.d-state-active, .d-ui-widget-header.d-state-active, .d-ui-widget-header.d-state-active > a, .d-item.d-state-active, .d-node-content > .d-state-active, .d-accordion > .d-ui-widget-header.d-state-active, .d-accordion > .d-ui-widget-content.d-state-active, .d-tabs > .d-tabs-navs > .d-tabs-nav.d-state-active > a, .d-tabs > .d-tabs-panel.d-state-active { color: #77260e; }
.d-ui-widget.d-state-active, .d-ui-widget-header.d-state-active, .d-item.d-state-active, .d-node-content > .d-state-active, .d-ui-widget-content.d-state-active, .d-tabs > .d-tabs-navs > .d-tabs-nav.d-state-active, .d-tabs > .d-tabs-panel.d-state-active, .d-accordion > .d-ui-widget-header.d-state-active, .d-accordion > .d-ui-widget-content.d-state-active { background-color: #ffffff; background-image: none; }

.d-ui-widget.d-state-disable, .d-ui-widget:disabled, .d-ui-widget.d-state-disable *, .d-ui-widget-content.d-state-disable, .d-ui-widget-content:disabled, .d-ui-widget-header.d-state-disable, .d-ui-widget-header.d-state-disable > a, .d-node.d-state-disable .d-node-content, .d-node.d-state-disable .d-node-content a, .d-checkbox.d-state-disable, .d-radio.d-state-disable { color: #8a8a8a; }
    .d-ui-widget.d-state-disable, .d-ui-widget:disabled, .d-ui-widget-header.d-state-disable, .d-ui-widget.d-state-disable .d-ui-widget-content, .d-ui-widget-content.d-state-disable { background-color: #eeeeee; background-image: none; }

.d-valmsg.field-validation-error { color: #eb4249; }
.d-ui-widget.d-state-error, .input-validation-error > input, .d-state-error, .input-validation-error { color: #fadbdb; }
    .input-validation-error, .d-ui-widget.d-state-error, .d-ui-widget.d-state-error > .d-ui-widget-content, .input-validation-error > .d-ui-widget-content { background-color: #d41619; background-image: none; }

.d-button-text, .d-textbox > input, .d-picker > .d-content-text { padding: 0; height: 30px; line-height: 30px; }

.d-page-content { margin: auto; width: 740px; }
    .d-page-content > div { padding: 10px; }

@media screen and (max-width: 768px) {
    .d-page-content { width: 100%; }
    .d-page-header > *, .d-page-nav > *, .d-page-footer > * { margin: auto; width: auto; }
}
