@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>Delete post</title>
    <style type="text/css">
        blockquote { border-left: 15px solid #cccccc; background-color: #eeeeee; padding: 5px; }
    </style>
</head>
<body>
    <p>
        Your post {subject} - {forum}</p>
    <p>
        {summary}</p>
    <p>
        Has been deleted by {deleteby}</p>
    <blockquote>
        <b>The reason is :</b>
        <p>
            {reason}</p>
    </blockquote>
    <p>
        Thanks
    </p>
</body>
</html>
