@using DNA.Web;
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>Wait for audit</title>
    <style type="text/css">
        blockquote { border-left: 15px solid #cccccc; background-color: #eeeeee; padding: 5px; }
    </style>
</head>
<body style="border: none;">
    <p>
        Here is a new post waiting for your approvment.</p>
    <p>
        Posted by : {author} - {forum}</p>
    <p>
        Subject: {subject}</p>
    <blockquote>
        <p>
            {summary}</p>
    </blockquote>
    <p>
        View the complete topic at : <a href="{permalink}">{permalink}</a></p>
</body>
</html>
