@using DNA.Web.UI;
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>Password validation mail</title>
</head>
<body>
    <p>
        Hi {username}:</p>
    <p>
        You send a password receive request just now.Our security policy need to validate
        your request.</p>
    <p>
        If you not validate this request, it will be timeout and unvalidable at @DateTime.UtcNow.AddMinutes(10).ToString()</p>
    <p>
        Please click the following link to validate your request:<a href="{validationUrl}">{validationUrl}</a></p>
</body>
</html>
