.d-page { width: 100%; }
    .d-page > [class^="d-page"] > .d-widget-zone,
    .d-page > [class^="d-page"] > .d-page-part > .d-layout-columns { margin: auto; width: 980px; }
.d-view { border-color: #333; }

@media screen and (max-width: 768px) {
    .d-page > [class^="d-page"] > .d-widget-zone,
    .d-page > [class^="d-page"] > .d-page-part > .d-layout-columns { width: auto; }
}
