@import url(http://fonts.googleapis.com/css?family=Cinzel);
body, .d-ui-widget, .d-ui-widget-header, .d-ui-widget-content, .d-content-text, .ui-widget, .ui-widget-content, .d-input > input, .d-picker > input, .d-button, .d-pager, .d-checkbox, .d-radio, .d-rte textarea { font-family: 'Cinzel', serif; }
.d-ui-widget, .ui-widget { -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; background-color: #0f0f0f; background-image: none; }
.d-ui-widget, .ui-widget, .d-node-content > * { color: #ffffff; }
.d-ui-widget, .ui-widget, .d-separator, .d-tooltip:before, .d-tooltip:after, .d-grid th, .d-grid td, .d-item-spliter { border-color: #3b3b3b; }

.d-ui-widget-header, .ui-widget-header, .d-rte-panes > .d-menu.toolbar, .d-button, .d-mainmenu { border-color: #333333; background-image: none,-moz-linear-gradient(top,#363636 0%,#141414 100%); background-image: none,-ms-linear-gradient(top,#363636 0%,#141414 100%); background-image: none,-o-linear-gradient(top,#363636 0%,#141414 100%); background-image: none,-webkit-gradient(linear, left top, left bottom, color-stop(0% #363636),color-stop(100% #141414)); background-image: none,-webkit-linear-gradient(top,#363636 0%,#141414 100%); background-image: none,linear-gradient(to bottom,#363636 0%,#141414 100%); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#363636', endColorstr='#141414',GradientType=0 ); }
.d-input > .d-ui-widget-content, .d-picker > .d-ui-widget-content, .d-textarea.d-ui-widget-content, .d-ui-widget-content > .workspace > * { background-color: #383838; }
.d-ui-widget.d-tooltip, .d-state-info, .d-item-counter { border-color: #3b3b3b; background-color: #0d5173; color: #ffffff; }
.d-radio, .d-checkbox, .d-rating, a.d-button.link, .ui-state-default > a { color: #c9c9c9; }
.d-radio, .d-checkbox, .d-rating, a.d-button.link, .ui-state-default > a, .ui-state-default { color: #c9c9c9; }

.d-ui-widget.d-state-hover, .d-ui-widget-header.d-state-hover, .d-item.d-state-hover, .d-node-content > .d-state-hover, .ui-state-hover { background-color: #0d5173; background-image: none; }
.d-ui-widget.d-state-active, .d-ui-widget-header.d-state-active, .d-item.d-state-active, .d-node-content > .d-state-active, .d-ui-widget-content.d-state-active, .d-tabs > .d-tabs-navs > .d-tabs-nav.d-state-active, .d-tabs > .d-tabs-panel.d-state-active, .d-accordion > .d-ui-widget-header.d-state-active, .d-accordion > .d-ui-widget-content.d-state-active, .ui-state-active { background-color: #0972A5; background-image: none; }
.d-ui-widget.d-state-active, .d-ui-widget-header.d-state-active, .d-item.d-state-active, .d-node-content > .d-state-active, .d-rating, .d-state-active, .d-accordion > .d-ui-widget-header.d-state-active, .d-accordion > .d-ui-widget-content.d-state-active, .d-tabs > .d-tabs-navs > .d-tabs-nav.d-state-active, .d-tabs > .d-tabs-panel.d-state-active, .ui-state-active { border-color: #91d6f7; }
.d-ui-widget.d-state-disable, .d-ui-widget:disabled, .d-ui-widget-header.d-state-disable { border-color: #363636; }

.field-validation-error, .d-ui-widget.d-state-error, .input-validation-error, .ui-state-error { border-color: #b80000; }
    .field-validation-error, .input-validation-error, .d-ui-widget.d-state-error, .d-ui-widget.d-state-error > .d-ui-widget-content, .input-validation-error > .d-ui-widget-content { background-color: #eed8d8; }

.d-mainmenu.d-menu { padding: 2px; background-color: #0f0f0f; -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none; }
    .d-mainmenu.d-menu > .d-item > a { line-height: 50px; }
    .d-mainmenu.d-menu .d-item > a { color: #c9c9c9; }
    .d-mainmenu.d-menu .d-item.d-state-active > a { color: #fff; }

.d-mainmenu.d-menu, .d-menu .d-items-wrapper { border-color: #4d4d4d; }

footer { padding: 20px; }
body { background-color: #222222; -webkit-text-shadow: -1px -1px #000; text-shadow: -1px -1px #000; }
body, .d-link { color: #f0f0f0; }
.d-page-nav { border-color: #000000; background-color: #0972a5; }
    .d-page-nav .d-widget-header { background: none; }
.d-page-header { border-color: #000000; background-color: #000000; border-bottom: 2px solid #0e87c2; }
.d-page-content { border-color: #000000; background-color: #0F0F0F; }
    .d-page-content .d-widget-header { line-height: 1.8em; border-left: 2px solid #0e87c2; border-right: 2px solid #0e87c2; }
    .d-page-content .d-widget-title-text { padding: 0 10px; }
    .d-page-content .d-widget-title-text, .d-page-content .d-link { color: #0e87c2; }
        .d-page-content .d-link:hover { color: #91d6f7; }
    .d-page-content .d-widget-zone { margin-right: 5px; }
.d-sitetools, .d-page-footer { border-top: 2px solid #0e87c2; }

    .d-page-footer .d-widget { font-size: 1em; background-color: inherit; background:none;border:none;}
    .d-page-footer .d-widget-header { font-size: 1.2em; background:none;}

.d-page { width: 100%; }
    .d-page > [class^="d-page"] > .d-widget-zone,
    .d-page > [class^="d-page"] > .d-page-part > .d-layout-columns { margin: auto; width: 980px; }
.d-view { border-color: #333; }

@media screen and (max-width: 768px) {
    .d-page > [class^="d-page"] > .d-widget-zone,
    .d-page > [class^="d-page"] > .d-page-part > .d-layout-columns { width: auto; }
}
