.d-ui-widget, .ui-widget { -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; background-color: #0f0f0f; background-image: none; }
.d-ui-widget, .ui-widget, .d-node-content > * { color: #ffffff; }
.d-ui-widget, .ui-widget, .d-separator, .d-tooltip:before, .d-tooltip:after, .d-grid th, .d-grid td, .d-item-spliter { border-color: #3b3b3b; }
    .d-ui-widget.d-panel-overlay { border-color: #000; -webkit-box-shadow: 0 0 10px #000; box-shadow: 0 0 10px #000; }
