<?xml version="1.0" encoding="utf-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" id="code-formatter" defaultlocale="en-us">
  <name short="Code">Code formatter</name>
  <name short="代码" xml:lang="zh-cn">格式化代码</name>
  <icon src="default.png" />
  <description>Format the code conent to specified language style.</description>
  <description xml:lang="zh-cn">将代码文本格式化为指定开发语言的代码显示格式</description>
  <preference name="language" value="'html'" />
  <preference name="showLines" value="false" />
  <preference name="alternate" value="false" />
  <preference name="content" value="''" />
  <preference name="cached" readonly="true" value="true" />
  <content type="application/x-ms-aspnet" src="index.cshtml"></content>
</widget>