<?xml version="1.0" encoding="utf-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" id="page-path">
  <name short="Pagepath">Page path</name>
  <name short="Pagepath" xml:lang="zh-cn">页面路径</name>
  <description>Show parent paths of current web page.</description>
  <description xml:lang="zh-cn">显示当面页面的当前访问路径</description>
  <icon src="default.png" />
  <preference name="showHeader" readonly="true" value="false" />
  <preference name="showBorder" readonly="true" value="false" />
  <preference name="transparent" readonly="true" value="true" />
  <content type="application/x-ms-aspnet" src="index.cshtml" />
</widget>