.d-ui-widget, .ui-widget, .d-node-content > * { color: #ffffff; }
.d-ui-widget, .ui-widget { -moz-border-radius: 0px; -webkit-border-radius: 0px; border-radius: 0px; background-color: #ff6929; background-image: none; }
.d-ui-widget, .ui-widget, .d-separator, .d-tooltip:before, .d-tooltip:after, .d-grid th, .d-grid td, .d-item-spliter { border-color: #eb4249; }
.d-ui-widget.d-panel-overlay { -webkit-box-shadow: 0 0 10px #ff6a00; box-shadow: 0 0 10px #ff6a00; }

.d-button { border-radius: 5px; text-transform: uppercase; }
.d-button-text { font-size: 9pt; }