.video.d-view-float > .d-view-item { border-width: 0px;height:200px; }
    .video.d-view-float > .d-view-item time { position: absolute; bottom: 25px; right: 10px;display:none; }
.d-video-holder { text-align: center; position: relative; display: inline-block; }
.d-video-holder-overlay { content: ""; opacity: .5; background: url("/content/images/img_play.png") center center no-repeat; position: absolute; top: 0; left: 0px; }
    .d-video-holder-overlay:hover { opacity: .8; }

.d-video-player-wrapper { background: #000; text-align: center; min-height: 300px; margin-bottom: 10px; }
    .d-video-player-wrapper > video { min-height: 300px; background: #000; }

.d-view-float.video > .d-view-item .d-view-field.title { width:200px;}