.d-w-section { width: 100%; position: relative; overflow: hidden; }
    .d-w-section > article h1, .d-w-section > article h2,
    .d-w-section > article h3, .d-w-section > article h4,
    .d-w-section > article h4, .d-w-section > article h5 { line-height: normal; }
    .d-w-section > article, .d-w-section > figure { float: left; width: 50%; -webkit-transition: -webkit-transform 0.5s, opacity 0.5s; -moz-transition: -moz-transform 0.5s, opacity 0.5s; -o-transition: transform 1s, opacity 1s; transition: transform 1s, opacity 1s; }
    .d-w-section > figure { margin: 0px; }


.d-w-section-left.animation-horizontal > article,
.d-w-section-right.animation-horizontal > figure { opacity: 0; -moz-transform: translateX(-100%); -ms-transform: translateX(-100%); -o-transform: translateX(-100%); -webkit-transform: translateX(-100%); transform: translateX(-100%); }
.d-w-section-right.animation-horizontal > article,
.d-w-section-left.animation-horizontal > figure { opacity: 0; -moz-transform: translateX(100%); -ms-transform: translateX(100%); -o-transform: translateX(100%); -webkit-transform: translateX(100%); transform: translateX(100%); }

.d-state-reached .d-w-section-left.animation-horizontal > article,
.d-state-reached .d-w-section-right.animation-horizontal > figure,
.d-state-reached .d-w-section-right.animation-horizontal > article,
.d-state-reached .d-w-section-left.animation-horizontal > figure { opacity: 1; -moz-transform: translateX(0); -ms-transform: translateX(0); -o-transform: translateX(0); -webkit-transform: translateX(0); transform: translateX(0); }


.d-w-section-left.animation-vertical > article,
.d-w-section-right.animation-vertical > figure { opacity: 0; -moz-transform: translateY(-100%); -ms-transform: translateY(-100%); -o-transform: translateY(-100%); -webkit-transform: translateY(-100%); transform: translateY(-100%); }
.d-w-section-right.animation-vertical > article,
.d-w-section-left.animation-vertical > figure { opacity: 0; -moz-transform: translateY(100%); -ms-transform: translateY(100%); -o-transform: translateY(100%); -webkit-transform: translateY(100%); transform: translateY(100%); }

.d-state-reached .d-w-section-left.animation-vertical > article,
.d-state-reached .d-w-section-right.animation-vertical > figure,
.d-state-reached .d-w-section-right.animation-vertical > article,
.d-state-reached .d-w-section-left.animation-vertical > figure { opacity: 1; -moz-transform: translateY(0); -ms-transform: translateY(0); -o-transform: translateY(0); -webkit-transform: translateY(0); transform: translateY(0); }

.d-w-section.animation-fade > article, .d-w-section.animation-fade > figure { opacity: 0; }
.d-state-reached .d-w-section.animation-fade > article, .d-state-reached .d-w-section.animation-fade > figure { opacity: 1; }

@media screen and (max-width: 768px) {
    .d-w-section > article, .d-w-section > figure { width: 100%; float: none; }
    .d-w-section, .d-w-section > article { text-align: center; }
}
