<?xml version="1.0" encoding="utf-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" id="download-list">
  <name short="downloadlist">Download list</name>
  <name short="downloadlist" xml:lang="zh-cn">下载列表</name>
  <icon src="default.png" />
  <preference name="showHeader" readonly="true" value="false" />
  <preference name="showBorder" readonly="true" value="false" />
  <preference name="src" value="''" />
  <preference name="display" value="''" />
  <content type="application/x-ms-aspnet" src="index.cshtml"></content>
</widget>