.d-ui-widget-content, .ui-widget-content, .d-ui-widget-header.d-tabs-nav.d-state-active > a, .d-checkbox, .d-radio, .d-rating, a.d-button.link, .ui-state-default, .ui-state-default > a { color: #262626; }
.d-ui-widget-content, .ui-widget-content, .d-tabs-nav.d-state-active { background-color: #f6f6f3; }
.d-overlay, .ui-overlay { background-color: #888363; }
